[submodule "protocol"]
	path = app/protocol
	url = https://github.com/harmony-development/protocol.git
[submodule "vendor/kirigami"]
	path = vendor/kirigami
	url = https://invent.kde.org/frameworks/kirigami
[submodule "vendor/protobuf"]
	path = vendor/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
