[Desktop Entry]
Type=Application
Name=Murmur
Exec=Murmur
Comment=Harmony client
GenericName=Chat Application
Icon=com.github.harmony-development.Murmur.svg
